.hola
{
    
    width: 70px;


}
.sd
{
    width: 35px;
}



body
{
    background: #ffe259;
    background: linear-gradient(to left, #ffa751, #ffe259);
}
.mb-4
{
 width: auto;
 margin-left: auto;
    margin-right: auto;
}

.conteiner
{
    width: auto;
}