#nave{
    Position: fixed;
    top: 0;
    right:0;
    width: 100%;
    
}
#menu{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
#menu li a{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.carousel-inner{
    max-height: 35rem;

}
@media(max-width:768px){
    #intro{
        width: 90% !important;
    }
        .servicio-fila{
            width: 100% !important;
            text-align: center;
        }
   
}
@media(max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}
/**#fondo1{
    display: flex;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),
    url(/foto/Fondo1.jpg);
    width: auto;
    height: 500px;
    color:white;
    text-align: center;
}
*/
#telefono{
    padding-right: 100px;
   padding-left: 30px;
    width: 30px;
}
#mensaje{
    padding-right: 30px;
    width: 30px;
    padding-left: 30px;
}
#carrito{
    width: 30px;
    border: 30px;
    
}
